<% include ../partials/header %>

<div class="container">
    <h1>Edita <%= device.name %></h1>
    <div class="form-div">
        <form action="/devices/<%= device._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input class="form-control" type="text" name="device[name]" placeholder="Nombre" value="<%= device.name %>">
            </div>
            <div class="form-group">
                <label for="name">Pin de Raspberry</label>
                <input class="form-control" type="number" name="device[pin]" placeholder="Pin" value="<%= device.pin %>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-success btn-block">Guardar</button>
            </div>
        </form>
        <button type="button" class="btn btn-danger btn-block mb-4" data-toggle="modal" data-target="#exampleModal">
                Eliminar
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Seguro que desea eliminar este dispositivo?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                    <form class="delete-form" action="/devices/<%= device._id %>/?_method=DELETE" method="post">
                        <button class="btn float-right btn-danger">Eliminar</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <a class="btn btn-light btn-block" href="/devices/<%= device._id %>">Regresar</a>
    </div>
</div>

<% include ../partials/footer %>