<% include ../partials/header %>

<div class="container">

    <div class="jumbotron">
        <h1>
            <%= device.name %>
        </h1>
    </div>
    <div class="row">
        <div class="col-6">
            <a class="btn btn-success btn-lg btn-block" href="/devices/<%= device._id %>/on">Encender</a>
        </div>
        <div class="col-6">
            <a class="btn btn-danger btn-lg btn-block" href="/devices/<%= device._id %>/off">Apagar</a>
        </div>
    </div>
    <hr>
    <h3 class="mt-4">Información del dispositivo</h3>
    <p><strong>Salida:</strong> <%= device.pin %></p>
    <a class="btn btn-outline-warning" href="/devices/<%= device._id %>/edit">Editar dispositivo</a>
    <hr>
    <h3>Horarios</h3>
    <% device.schedules.forEach((schedule, i) => { %>
    <div class="schedule-element">
        <h5>
            <strong>Horario
            <%= i +1 %></strong>
        </h5>
        <div class="row">
            <div class="col-sm-8">
                <table>
                    <tr class="schedule-table-row">
                        <td><strong>Inicio</strong></td>
                        <td><%= schedule.start.hour %><span>:</span>
                            <%= schedule.start.minute < 10 ? "0" + schedule.start.minute : schedule.start.minute %></td>
                    </tr>
                    <tr class="schedule-table-row">
                        <td><strong>Duracion</strong></td>
                        <td><%= schedule.duration + (schedule.duration === 1 ? " minuto" : " minutos") %></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Eliminar
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Seguro que desea eliminar este horario?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                            <form class="delete-form" action="/devices/<%= device._id %>/schedules/<%= schedule._id %>?_method=DELETE" method="post">
                                <button class="btn float-right btn-danger">Eliminar</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-warning float-right schedule-edit-btn" href="/devices/<%= device._id %>/schedules/<%= schedule._id %>/edit">Editar</a>
            </div>
        </div>
    </div>
    <% }); %>
    <a class="btn btn-light" href="/devices/<%= device._id %>/schedules/new">Agregar nuevo horario</a>
</div>

<% include ../partials/footer %>